
.header{
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
background-color:#FFFFFF;
}

.header-text{
margin: 0 auto;
display:flex;
flex-direction:column;
max-width: 1020px;
text-align: center;
text-transform: uppercase;
}

body{
margin:0;
font-family: 'Podkova', serif;
background-color: rgb(241, 241, 241);
}

a, a:visited {
color: rgb(27, 29, 30);
}



.logo{
padding:20px;
}



.title{
font-size: 24px;
font-weight: 600;
letter-spacing:0.1em;
color: rgb(27, 29, 30);
}

.subtitle{
font-size: 12px;
font-weight: normal;
letter-spacing:0.25em;
}

.menu{
padding: 20px;
font-size: 20px;
font-weight: 500;
letter-spacing:0.1em;
color: rgb(27, 29, 30);
}

.menu-item{
padding: 20px;
}

.content{
display:flex;
flex-direction:row;
justify-content: center;
flex-wrap:wrap;
align-content: center;
order: <3>;
}

.content-item{
background-color:#FFFFFF;
text-align: center;
width: 330px;
height:370px;
padding:15px;
margin: 20px;
}

.footer{
padding: 60px 80px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
background-color:#FFFFFF;
}

.footer-block{
margin: 0 auto;
display:flex;
flex-direction:row;
justify-content: space-between;
max-width:1000px;
line-height: 98%;
}

.subscribe{
display:flex;
flex-direction:row;
justify-content: flex-start;
align-items: center;
margin:20px;
}

.subscribe-title{
color: #B0B0B0;
font-size: 14px;
letter-spacing:0.1em;
font-weight: 400;
display:flex;
flex-direction:row;
padding: 10px;
}

.subscribe-column{
color: #B0B0B0;
display: flex;
flex-direction: column-reverse;
width: 395px;
height:10px;
border:1px solid;
padding:15px;
margin: 20px;
}

.subscribe-button{
color: #FFFFFF;
background-color: rgb(27,29,30);
text-align: center;
display: flex;
justify-content:center;
font-size: 15px;
width: 430px;
border:1px solid;
padding:15px;
margin: 20px;
}

.email-block{

}

.smm{
display: flex;
flex-direction: column;
justify-content:center;
}


.smm-icon{
color: #B0B0B0;
font-size: 14px;
letter-spacing:0.1em;
font-weight: 400;
display:flex;
flex-direction:row;
padding: 10px;
}

.icon-block{
display:flex;
flex-direction:row;
padding:7px;
}

.share-buttons{
padding:10px;
}

.sorry{
font-family: 'Podkova', serif;
font-size: 34px;
text-align: center;
padding: 30px 0 30px 0;
}

.book{
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
background-color:#FFFFFF;
margin: 20px;
height: 200px;
padding: 30px;
}


.btn {
  background: #8a9094;
  background-image: linear-gradient(to bottom, #8a9094, #7f868a);
  border-radius: 28px;
  font-family: 'Podkova', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 25px 12px 25px;
  text-decoration: none;
  align-items:center;
}

.btn:hover {
  background: #91989c;
  background-image: linear-gradient(to bottom, #91989c, #76797a);
  text-decoration: none;
}

.c-content{
max-width: 1100px;
height: 500px;
margin: 0 auto;
padding: 0 20px 0 20px;
position: relative;
}

.contact-content{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
}



.address{
font-family: 'Podkova', serif;
font-size: 17px;
flex-direction: column;
list-style-type: none;
line-height: 1.4;
padding:0;
}

.email{
font-family: 'Podkova', serif;
font-size: 17px;
list-style-type: none;
line-height: 1;
}

.love-beer{
font-family: 'Podkova', serif;
padding:10px 0 0 0;
font-size: 17px;
list-style-type: none;
line-height: 0.7;
}

.sign-up-box input[type='text'] {
    border-style: none none dotted none;
    border-color: #000;
    border-width: 2px;
    padding: 0px;
    font-family: 'Podkova', serif;
    font-size: 20px;
    width: 70%;
}

.sign-up-box input[type='submit'] {
    background: none;
    border: none;
    font-family: 'Podkova', serif;
    text-transform: lowercase;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 18px;