@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
}
* {
  box-sizing: border-box;
}
body, figure {
  margin: 0; background: #FFFFFF;
}
div#captioned-gallery {
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.slider figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.slider img { width: 100%; height: 590px; }


.about-block{
margin: 0 auto;
display:flex;
flex-direction:row;
justify-content: space-between;
max-width:1000px;
line-height: 98%;
font-family: 'Podkova', serif;
font-size: 20px;
}

.about-logo{
width: 220px;
height: 131px;
margin:30px 0;
}

.about-content{
width: 500px;
text-align: center;
line-height: 1.4;
}

. about-left{
padding: 20px;
}

.about-right{
width: 400px;
height: 545px;
padding: 150px 90px 0 0;
}

.bline{
margin: 60px 0 0 0;
height: 12px;
border: 0;
box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
}

.eat-content{
max-width: 1100px;
height: 850px;
margin: 0 auto;
padding: 0 20px 0 20px;
position: relative;
}
.eat-logo{
margin: -15px auto 0;
}

.menu-logo{
margin: 20px 0 0 0;
width: 220px;
height: 131px;
}

.menu-tabs{
font-family: 'Podkova', serif;
font-size: 20px;
padding: 30px;
margin: 0 auto;
display:flex;
flex-direction:row;
justify-content: space-between;
max-width:600px;
line-height: 98%;
width: 100%;
padding: 0;
list-style: none;
}

.submenu{
max-width: 640px;
text-align: center;
}

ul.submenu {
padding:80px 0 0 0;
display: none;
position: absolute;
left: 300px;
right: 300px;
list-style-type: none;
}

.b-content{
max-width: 1100px;
height: 500px;
margin: 0 auto;
padding: 0 20px 0 20px;
position: relative;
}

.bar-block{
margin: 0 auto;
display:flex;
flex-direction:row;
justify-content: space-between;
max-width:1000px;
line-height: 98%;
font-family: 'Podkova', serif;
font-size: 20px;
}

.bar-content{
width: 500px;
line-height: 1.4;
}

.bar-left{
width: 470px;
height: 338px;
}

.bar-right{

}

.s-content{
max-width: 1100px;
margin: 0 auto;
padding: 0 20px 0 20px;
position: relative;
}

.social-content{
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  flex-direction: column;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.social-text{
font-family: 'Podkova', serif;
font-size: 20px;
flex-direction: column;
list-style-type: none;
line-height: 1.8;
}